div .modal-dialog{

}

.address-info-texbox3{
    margin-bottom: 10px;
}
.address-info-texbox5{
width: 97%;
height: 36px;
border-radius: 5px;
}

.address-info-textbox6{
height: 36px;
border-radius: 5px;
}
.personal-ingo-textbox7{
  width: 97%;
height: 36px;
border-radius: 5px;  
}
.personal-ingo-textbox8{
    width: 97%;
height: 36px; 
}

@media(max-width:767px){
    .address-info-texbox5{
        margin-bottom: 10px !important;
        width: 100%;
    }
     .personal-ingo-textbox7{
  width: 100%;
height: 36px;
border-radius: 5px;  
 margin-bottom: 10px !important;

}
.personal-ingo-textbox8{
    width: 100%;
height: 36px; 
}
}

@media(max-width:600px){
    .address-info-texbox5{
        margin-bottom: 10px !important;
        width: 100%;
    }
    .personal-ingo-textbox7{
  width: 100%;
height: 36px;
border-radius: 5px;  
 margin-bottom: 10px !important;

}
.personal-ingo-textbox8{
    width: 100%;
height: 36px; 
}
}